__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv

.DS_Store

logs/
smac3_output/
results/

**/cluster.yaml
**/cluster_*.yaml
!**/cluster.example.yaml

.vscode/

data/

.cache/

ignore-scripts/
